/*******************Página Curriculo*******************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background-color: #303030;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
.background {
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
  }
  
  .particles {
    position: absolute;
    width: 100%;
    height: 100%;
  }
  
  .particles::before,
  .particles::after {
    content: '';
    position: absolute;
    width: 200%;
    height: 200%;
    background: radial-gradient(#7c6447 1px, transparent 1px);
    background-size: 50px 50px;
    animation: move 20s linear infinite;
    opacity: 0.2;
  }
  
  .particles::after {
    animation-delay: -10s;
  }
  
  @keyframes move {
    0% {
      transform: translate(0, 0);
    }
    100% {
      transform: translate(-50px, -50px);
    }
}

.interface{
    
    max-width: 1280px ;
    margin: 0 auto;
    display: flex; 
    justify-content: center; 
    flex-wrap: wrap; 
}

.title {
    display: flex;
    align-items: center; 
    justify-content: center; 
    text-align: center;
    margin: 80px;
}

.title h1 {
    color: #e6e6e6;
    font-weight: 600;
    font-size: 3em;
    margin: 0 -30px;
    white-space: nowrap;
}

.simbolo {
    width: 100px; 
    height: auto;   
}

a {
    text-decoration: none; 
   
}
a:hover {
    
    text-decoration: none; 
}
a:active {
    color: #5a4835; 
}
#curriculo .cv-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 20px; 
  }
  
#curriculo .content {
    display: flex;
    align-items: center;
    gap: 20px; 
}
  
#curriculo .image-wrapper {
    width: 1000px; 
    height: 600px; 
    overflow-y: auto; 
    box-shadow: 6px 6px 10px rgba(240, 240, 240, 1); 
    background-color: #fff; 
}
  
#curriculo .curriculo-img {
    width: 100%;
    height: auto;
    display: block;
}
  
#curriculo .buttons {
    display: flex;
    flex-direction: column;
    align-items: bottom; 
    gap: 10px;
    
}
  
#curriculo .btn {
    text-decoration: none;
    color: #202020;
    background-color: #7c6447;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 200px;
    text-align: center;
    font-weight: bold;
    font-size: 0.7em;
    transition: transform 0.3s ease, background 0.3s ease;
}

#curriculo .btn:hover {
    color: #e0e1dd;
    background-color: #5c4a35;
}
  
#curriculo .download-btn {
    background-color:#7c6447;
    transition: transform 0.3s ease, background 0.3s ease;
    
    
}
  
#curriculo .download-btn:hover {
    background-color: #5c4a35;
    transform: scale(1.05);
}
  
#curriculo .back-btn {
    background-color: #303030;
    color: #e0e1dd;
    transition: transform 0.3s ease, background 0.3s ease;
}
  
#curriculo .back-btn:hover {
    background-color: #303030;
    color: #7c6447;
    transform: scale(1.05);
}

/*******************Media Queries*******************/


/**** Extra Small (xs): Smartphone (portrait) ****/

@media  (max-width: 480px) {

/*Configuração pagina curriculo.html*/

#curriculo .cv-container {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    height: auto;
}

  #curriculo .content {
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

  #curriculo .image-wrapper {
    width: 100%;
    max-width: 90vw;
    height: auto;
}

  #curriculo .buttons {
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 20px;
}

  #curriculo .btn {
    width: 100%;
    max-width: 200px;
}

}
/**** /Extra Small (xs): Smartphone (portrait) ****/

/****************  Smartphone-tablet  ********************/

@media   (min-width: 481px) and (max-width: 800px){
   
    #curriculo .cv-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        height: auto;
    }
    
    #curriculo .content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    #curriculo .image-wrapper {
        width: 100%;
        max-width: 90vw;
        height: auto;
    }
    
    #curriculo .buttons {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
    }
    #curriculo .btn {
        width: 100%;
        max-width: 200px;
    }
    
}
/****************  /Smartphone-tablet  *******************/

/****************  notbook's ************************/

@media   (min-width: 800px)  and (max-width: 1024px) {
    #curriculo .cv-container {
        flex-direction: column;
        align-items: center;
        padding: 20px;
        height: auto;
    }
    
    #curriculo .content {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    
    #curriculo .image-wrapper {
        width: 100%;
        max-width: 90vw;
        height: auto;
    }
    
    #curriculo .buttons {
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 20px;
    }
    
    #curriculo .btn {
        width: 100%;
        max-width: 200px;
    }
}